s3: Failed to deserialize GetObject and HeadObject response Expires timestamp value deserialization failed

### Describe the bug

Failed to deserialize `Expires` field's value in response to the GetObject and HeadObject requests.

### Expected Behavior

Expected to return response to the problem without the panic output.

### Current Behavior

When requested to GetObject, it returns:
```
panic: operation error S3: GetObject, https response error StatusCode: 200, RequestID: , HostID: , deserialization failed, failed to decode response with invalid Http bindings, unable to parse time string, parse errors:
 * "Mon, 02 Jan 2006 15:04:05 GMT": parsing time "2022-10-21T07:28:00.000Z" as "Mon, 02 Jan 2006 15:04:05 GMT": cannot parse "2022-10-21T07:28:00.000Z" as "Mon"
 * "Mon, _2 Jan 2006 15:04:05 GMT": parsing time "2022-10-21T07:28:00.000Z" as "Mon, _2 Jan 2006 15:04:05 GMT": cannot parse "2022-10-21T07:28:00.000Z" as "Mon"
 * "Mon, _2 Jan 06 15:04:05 GMT": parsing time "2022-10-21T07:28:00.000Z" as "Mon, _2 Jan 06 15:04:05 GMT": cannot parse "2022-10-21T07:28:00.000Z" as "Mon"
 * "Monday, 02-Jan-06 15:04:05 MST": parsing time "2022-10-21T07:28:00.000Z" as "Monday, 02-Jan-06 15:04:05 MST": cannot parse "2022-10-21T07:28:00.000Z" as "Monday"
 * "Mon Jan _2 15:04:05 2006": parsing time "2022-10-21T07:28:00.000Z" as "Mon Jan _2 15:04:05 2006": cannot parse "2022-10-21T07:28:00.000Z" as "Mon"
```


### Reproduction Steps

I got the error, when sent the GetObject and HeadObject request with aws-sdk-go-v2.
![Screenshot 2022-12-04 at 9 22 32 PM](https://user-images.githubusercontent.com/77011837/205535678-c8683491-ec18-4d65-867f-e15ca7e6efa9.png)


### Possible Solution

_No response_

### Additional Information/Context

_No response_

### AWS Go SDK V2 Module Versions Used

github.com/aws/aws-lambda-go v1.35.0
github.com/aws/aws-sdk-go v1.44.152
github.com/aws/aws-sdk-go-v2 v1.17.2
github.com/aws/aws-sdk-go-v2/config v1.18.4
github.com/aws/aws-sdk-go-v2/service/s3 v1.29.5

### Compiler and Version used

go1.19.3

### Operating System and version

linux

Hi @tkaur-ds ,

Can you please include a code snippet that has these 3 things:
- How you create config.
- How you create the client.
- How you make the API call.

Thank you,
Ran

Hi @RanVaknin , 

Here's the code snipped for API Call. 

Given that if "foo" object has a system defined MetaData field `Expires` (shown below), GetObject fails with the error shown above.
<img width="808" alt="Screenshot 2022-12-06 at 3 28 12 PM" src="https://user-images.githubusercontent.com/77011837/206016183-9b112129-241d-40aa-8b99-c904a7add679.png">

```
func OpGetObject(ctx context.Context, sess *s3.Client, bucketName, objectName string) *s3.GetObjectOutput{

        input := &s3.GetObjectInput{
                Bucket: &bucketName,
                Key:    &objectName,
        }
        // API CALL
        resp, err := sess.GetObject(ctx, input)
        if err != nil {
                panic(err)
        }  

        return resp
}

func main() {
        ctx, cancel := context.WithTimeout(context.Background(), 10*time.Second)
        defer cancel()

        // CONFIG 
        cfg, err := config.LoadDefaultConfig(ctx)
        if err != nil {
                log.Fatal(err)
        }

        // CLIENT
        client := s3.NewFromConfig(cfg)

        bucketName := "fooBucket"
        objKey := "foo"

        response := OpGetObject(ctx, client, bucketName, objKey)
}
```

Hi @tkaur-ds,

Thanks for the info! I see what is happening here.
The `Expires` header has to a valid `HTTP-date` format defined by [RFC 7231 section 7.1.1.1](https://www.rfc-editor.org/rfc/rfc7231#section-7.1.1.1). The S3 console is suggesting a **wrong date format**. 

The SDK utility will try to resolve the data you set on that header and if it doesn't conform to the the RFC spec the SDK will panic. Unfortunately we can't really surface a sensible error, because you can store whatever value you want in that metadata value.

What really needs to happen is for that suggested Value of `YYYY-MM-DD` to be removed from the console, and perhaps clearer documentation on their part. 

In the meantime, please use a string that conforms to the RFC spec, ie:
instead of `"2022-12-12"` please use something like `"Mon, 12 Dec 2022 16:49:37 GMT"`

I'm going to transfer this issue to the cross SDK repo in order to track it there. I have also upstreamed this to the s3 service team in hopes that they can address it.

Thanks again for the help,
Ran~

`#P77304149`